.home .hero img
  max-height 180px

.search-box .suggestion a
  white-space normal

i.fas,
i.fa
  padding-left 20px

.custom-block.tip
  border-color $badgeTipColor

.custom-block.warning
  border-color $badgeWarningColor
  background-color #f3f5f7

.custom-block.warning a
  color $badgeWarningColor

.custom-block.danger
  background-color #f3f5f7

.custom-block p
  color: $textColor !important

.extra-class
  box-shadow: 0px 5px 10px 0px #888888;
