.hero #main-title
  display none

.hero img
  width 400px
  margin-top: 0px !important

.hero .description
  margin-top -30px !important

.hero .action-button
  color: $themeColor !important
  background: inherit !important
  border: 1px solid $themeColor !important
  padding: 0.3rem 1rem !important

.hero .action-button:hover
  color: $borderColor !important
  background-color: $themeColor !important
  border: 1px solid $borderColor !important

.search-box .suggestion a
  white-space normal

i.fas,
i.fa
  padding-left 20px

.custom-block.tip
  border-color $badgeTipColor

.custom-block.warning
  border-color $badgeWarningColor
  background-color #f3f5f7

.custom-block.warning a
  color $badgeWarningColor

.custom-block.danger
  background-color #f3f5f7

.custom-block p
  color: $textColor !important

.custom-block
  box-shadow: 0px 2px 4px 0px #888888;

.extra-class
  box-shadow: 0px 5px 10px 0px #888888;
