// colors
$themeColor = rgb(104, 48, 104)
$accentColor = lighten(rgb(104, 48, 104), 30%)
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = lighten(rgb(104, 48, 104), 30%)
$badgeWarningColor = darken(#18CAE6, 10%)
$badgeErrorColor = #DA5961

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px
